$color-green: #3cb84d;

.fixed {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    z-index: 20;
}

.header {
    display: flex;
    flex-direction: column;

    &.is-active {
    height: 560px;
    height: 100vh;
    }

  &__menu {
    position: relative;
    background: white;
    height: 60px;
    display: flex;
  }

  &__logo {
    width: 112px;
    position: absolute;
    margin: auto;
    top: 16px;
    left: 0;
    right: 0;
  }

  &__mityousee {
    position: absolute;
    left: 20px;
    top: 10px;
    background: $color-green;
    border-radius: 50%;
    width: 42px;
    height: 42px;
    padding: 2px;
  }

  &__username {
    position: absolute;
    white-space: nowrap;
    color: $color-green;
    top: 13px;
    left: 50px;
  }

  &__burger {
    position: absolute;
    right: 20px;
    top: 10px;
  }

  &__burgerbutton {
    border-radius: 50%;
    width: 42px;
    height: 42px;
    padding: 2px;
  }

  &__footer {
    display: none;
    //display: flex;
    height: 80px;
    background: white;
    align-items: center;
    justify-content: center;
    z-index: 9999;
  }

  &__footer-item {
    width: 25%;
    height: 100%;
    text-align: center;
  }

  &__footer-link {
    display: block;
    text-decoration: none;
    color: #000;
    height: 100%;
    padding-top: 12px;
    color: #3cb84d;
    line-height: 1;

    &:hover {
      text-decoration: underline;
    }

    &--highlighted {
    background: #00adbf;
    color: #fff;
    }
  }

  &__footer-icon {
    min-width: 35px;
    margin: 0 auto;
    width: 35px;
    height: 33px;
  }
  
  &__footer-linktext {
    //display: block;
    color: #000;
    font-size: 13px;

    .header__footer-link--highlighted & {
    color: #fff;
    }
  }
}

@import 'masternav';
@import 'xmenu'; 


