.masternav {
  z-index: 20;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  color: #fff;

  &__primaryheader {
    position: relative;
    min-width: 55px;
    text-align: center;
  }

  &__naviconwrapper {
    height: 50px;
    width: 50px;
    display: block;
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
    margin-top: -45px;
    transition: width .5s ease-in;


    @media screen and (min-width: 700px) {
     width: 75px;
   }

   @media screen and (min-width: 1100px) {
     width: 100px;
   }
 }

 &__navicon {
  //position: absolute;
  //top: -30px;
  animation-duration: 2s;
  transition: top .5s ease-in;

  @media screen and (min-width: 700px) {
   top: -60px;
 }

 @media screen and (min-width: 1100px) {
   top: -90px;
 }
}

&__nav {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  pointer-events: none;
  min-width: 40px;
  font-size: 14px;
  transition: font-size .5s ease-in;
  animation-duration: .5s;


  @media screen and (min-width: 700px) {
   font-size: 18px;
 }

 @media screen and (min-width: 1100px) {
   font-size: 24px;
 }

 &--top {
  left: 0;
  right: 0;
  top: 15%;
}

&--right {
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin-left: 60%;
}

&--bottom {
  left: 0;
  right: 0;
  bottom: 12%;
}

&--left {
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin-right: 60%;
}
}
}

.test {
  z-index: 100;
  display: none;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  //   background: linear-gradient(to bottom, #22bc4f 0%,#0b3815 100%);
  //transition: background 2s ease-in;

  &.is-active {
    animation-delay: .2s;
  }

  &.test-bg {
   // background: linear-gradient(to bottom, #22bc4f 0%,#0b3815 100%);
 }



 h2 {
  display: block;
  margin-bottom: 20px;
  text-align: center;
  color: #fff;
  margin-top: 87px;
}

li{
  text-align: center;
  padding: 8px;
}

a {
  color: #fff;
  text-decoration: none;
  font-size: 20px;
}

&__close {
 height: 80px;
 width: 80px;
 color: #fff;
 /* float: right; */
 right: 0;
 position: absolute;
 padding: 20px;
}
}