.poc-bg {
  background: red;
}

.poc {
  background: #fff;
  transition: background 1s ease-in-out;
}

.poc-text {
 transition: all 1s ease-in;
 margin: 400px 100px;
 color: #000;
 opacity: 1;
}

.is-visible {
 background: #191919;

 .poc-text {
  //color: #fff;
  opacity: 0;
}
}

.is-visible2 {
 background: #14503a;

 .poc-text {
  opacity: 0;
}
}

@include parallax-init;

.container {
    height: 1000px;
    width: 100%;
    display: block;
    background: #191919;
    position: relative;

    img {
    position: absolute;
    }

  :nth-child(1) {
    @include parallax(.3);
    top: 141px;
    left: 633px;
  }
  :nth-child(2) {
    @include parallax(.2);
    top: 190px;
    left: 1058px;
  }
  :nth-child(3) {
    @include parallax(.2);
    top: 341px;
    left: 943px;
  }
  :nth-child(4) {
       width: 50%;
    top: 100px;
    left: 50px;
  }
  :nth-child(5) {
    @include parallax(.2);
    top: 780px;
    left: 164px;
  }
  :nth-child(6) {
    top: 100px;
    left: 0px;
  }
 

}