@import 'animate';

* {
	box-sizing: border-box;
}

html {
	font-size: 16px;
}

body {
	margin: 0;  
	font-family: arial, sans-serif;
}

button {
	padding: 0;
	margin: 0;
	border: 0;
	background: none;
	outline: none;
}

ul,
li {
	list-style: none;
	margin: 0;
	padding: 0;
}

.new {
  background: #fff;
  transition: background .5s cubic-bezier(0, 0.67, 0.71, 0.96)
}

.fakecontent {
  width: 100%;
    animation-delay: .5s;
}

.poc-bg {
  background: red;
}

.poc {
  background: #fff;
  transition: background 1s ease-in-out;
}

.poc-text {
 transition: all 1s ease-in;
 margin: 400px 100px;
 color: #000;
 opacity: 1;
}

.is-visible {
 background: #191919;

 .poc-text {
  //color: #fff;
  opacity: 0;
}
}

.is-visible2 {
 background: #14503a;

 .poc-text {
  opacity: 0;
}

}


