@include parallax-init;

.film-video-top {
  width: 100%;
  height: 100%;
}

.row {
  text-align: center;
}

.menu {
  position: absolute;
  top: 0;
  width: 100%;
  left: 0;
  padding: 16px;
  animation-delay: 1.2s;
}

.text_block {
  position: absolute;
  left: 100px;
  top: 523px;
  width: 40%;
  animation-delay: 2s;
}

.ai{
    position: absolute;
    right: 11px;
    top: 729px;
    width: 3%;
  animation-delay: 1.2s;
}

.bump {
  position: absolute;
  width: 100%;
  bottom: 4px;
  left: 0;
}

.arrow {
  position: absolute;
  bottom: 8px;
  margin: auto;
  width: 20px;
  height: 12px;
  margin-left: -6px;
  animation-duration: .5s;
  animation-fill-mode: both;
  animation-name: arrowanimation;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-delay: 3s;
  animation-timing-function: linear;
}

.fader {
  position: absolute;
  bottom: 300px;
  height: 1px;
  width: 1px;
}

.margin {
  margin-top: 100px;
}

.shortcuts {
  width: 40%;
  opacity: 0;
  transition: opacity 1s ease-in;
  transition-delay: .1s;
      margin-left: -6px;

  &.is-visible {
    opacity: 1;
  }
}


.data {
  @include parallax(.1);
  width: 23%;
  position: absolute;
  top: 240px;
  left: 185px;
  opacity: 0;
  transition: opacity 1s ease-in;
  transition-delay: .1s;

  &.is-visible {
    opacity: 1;
  }
}

.chart {
  @include parallax(.3);
  width: 50%;
  position: absolute;
  top: 100px;
  right: 172px;
}

.film-block {
  @include parallax(.2);
  width: 41%;
  position: absolute;
  top: 86px;
  left: 185px;
  z-index: 2;
}

.nowplaying {
  @include parallax(.1);
  position: absolute;
right: 179px;
    bottom: 50px;
    width: 16%;
}

.film-video {
  @include parallax(.1);
  width: 70%;
  height: 70%;
  margin-left: 200px;
  margin-top: 200px;
  border-radius: 25px;
}

.dailymix {
  width: 89%;
  margin: 100px 0 350px;
}


.ix {
  position: absolute;
}

.iphoneheader {
  @include parallax(.2);
    top: 49px;
    left: 170px;
    width: 49%;
  opacity: 0;
  transition: opacity .6s ease-in;
  transition-delay: .4s;

  &.is-visible {
    opacity: 1;
  }
}

.iphonecontent {
  @include parallax(.2);
  top: -50px;
    top: 75px;
    left: 196px;
    width: 34%;
  opacity: 0;
  transition: opacity .6s ease-in;
  transition-delay: .7s;

  &.is-visible {
    opacity: 1;
  }
}

.iphonebackground {
  @include parallax(.1);
  z-index: 100;
  right: 163px;
  top: 50px;
  width: 36%;
}

.iphonefront {
  @include parallax(.2);
    top: -72px;
    left: 647px;
    width: 36%;
}

.dark {
  background: #191919;
}

@keyframes arrowanimation {
  from {
    bottom: 10px;
  }
  to {
    bottom: 4px;
  }
}



.shortcuts_bottom {
    @include parallax(.2);
  width: 80%;
  margin: 100px;
}


#dark {
    position: absolute;
    height: 300px;
    width: 1px;
    top: 515px;
}
