$hero-image: 'https://s3-us-west-2.amazonaws.com/s.cdpn.io/157670/dragon-small-transparent.png';
$hero-image-bg-pos: 50% 50%;

$colors: #00a1f1, #7cbb00, #ffbb00, #f65314;
$ease-out: cubic-bezier(0.0, 0.0, 0.2, 1);
$ease-in: cubic-bezier(0.4, 0.0, 1, 1);
$ease-in-out: cubic-bezier(0.4, 0.0, 0.6, 1);

$media-small: 500px;
$opacity-focus: .85;

* {
  box-sizing: border-box;
}

html {
  font-size: 16px;
}

body {
  margin: 0;  
  min-height: 100%;
  min-height: 100vh;
  font-display: swap;
  font-family: 'Open Sans', sans-serif;
}

.u-abs-full {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.app {
  height: 1px; // IE11 flexbox bug hack fix
  min-height: inherit;
  position: relative;
  margin: 0 auto;
  max-width: 700px;
  display: flex;
  flex-direction: column;

  &.is-overlay-top, &[data-type=top] {
    .overlay--top {
      transform: translateZ(0);
    }
  }
  &.is-overlay-right, &[data-type=right] {
    .overlay--right {
      transform: translateZ(0);
    }
  }
  &.is-overlay-bottom, &[data-type=bottom] {
    .overlay--bottom {
      transform: translateZ(0);
    }
  }
  &.is-overlay-left, &[data-type=left] {
    .overlay--left {
      transform: translateZ(0);
    }
  }
  
  &.is-btn-top-hover, &[data-hover='btn-top']{
    .svg-triangles .top {
      //fill-opacity: $opacity-focus;  // IE11 can transition this
      opacity: $opacity-focus;
    }
  }  
  &.is-btn-right-hover, &[data-hover='btn-right'] {
    .svg-triangles .right {
      opacity: $opacity-focus;
    }
  }
  &.is-btn-bottom-hover, &[data-hover='btn-bottom'] {
    .svg-triangles .bottom {
      opacity: $opacity-focus;
    }
  }
  &.is-btn-left-hover, &[data-hover='btn-left'] {
    .svg-triangles .left {
      opacity: $opacity-focus;
    }
  }

  > header, > footer {
    padding: .5rem;
    transition: 200ms;
    @media (min-height: $media-small) {
      padding: 1rem;
    }
    text-align: center;
  }
  > header {
    z-index: 1;
    color: white;
    @media (min-width: $media-small) and (min-height: $media-small) {
      font-size: 2rem;  
    }    
    background: linear-gradient(
      to right,
      rgba(crimson, .9),
      rgba(dodgerblue, .9)
    );
  }
  > footer {
    font-weight: 300;
    background: linear-gradient(to right, rgba(#111, .9), rgba(#444, .9));
    color: #fafafa;
    
  }
}

.app__content {
  position: relative;
  overflow: hidden;
  flex: 1 1 auto;
}

.app__hero-image {
  //display: none;
  @extend .u-abs-full;
  z-index: 0;
  background-image: url($hero-image);
  background-repeat: no-repeat;
  background-position: $hero-image-bg-pos;
  background-size: landscape;
}

.app__design {
  //display: none;
  @extend .u-abs-full;
  overflow: hidden;
}

.interaction {
  @extend .u-abs-full;

  > * {
    display: flex;
    justify-content: center;
    align-items: center;
    > * {
      padding: 1rem;
    }
  }
  &--top-bottom {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: space-between;
    > * {
      //      flex: 1 1 auto;
      flex-basis: 25%;
    }
  }
  &--left-right {
    display: flex;
    justify-content: space-between;
    align-items: space-between;
    > * {
      //      flex: 1 1 auto;
      flex-basis: 25%;
    }
  }
}

.btn {
  z-index: 5;
  -webkit-tap-highlight-color: rgba(black, 0);
  position: relative;
  background: rgba(white, .7);
  margin: 0 4px;
  font-size: 1rem;
  border: 0;
  border-radius: 4px;
  box-shadow: none;
  cursor: pointer;
  transition: 200ms;
  min-height: 1rem;
  min-width: 1rem;
  outline: none;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  background: rgba(black,.5);
  
  
  > * {
    pointer-events: none; // make click event.target be the btn element when used with JS event listener
    color: inherit;    
  }
  
  > span {
    position: relative;
    display: block;
    margin-right: 4px;
    font-weight: 300;
  }
  
  > svg {
    fill: currentColor;
    widht: 24px;
    height: 24px;
  }
  
  &--close{
    background: transparent;
    position: absolute;
    top: 1rem;
    right: 1rem;
    margin: 0;
    font-size: 2rem;
    > svg{
      width: 48px;
      height: 48px;
    }
  }
  
  &[data-type=top] {
    svg {
      transform: rotateZ(-90deg);
    }
  }
  &[data-type=right] {
    svg {
//      transform: rotateZ(-90deg);
    }
  }
  &[data-type=left] {
    svg {
      transform: rotateZ(180deg);
    }
  }
  &:focus {
    box-shadow: 0 0 0 10px white;
  }

  &:hover {
    box-shadow: 1px 1px 10px white;
  }  
}

.overlays {
  @extend .u-abs-full;
}

.overlay {
  @extend .u-abs-full;
  transition: transform $ease-out 375ms;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 4rem;
  font-weight: 300;
  cursor: pointer;
  opacity: .94;
  z-index: 10;
  color: white;
  will-change: transform;
  transform: translateZ(0);
  
  &__arrow {
    svg {
      @extend .u-abs-full;
    }
  }
  &__arrow--top {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    height: 100%;
    svg {
      fill: nth($colors, 1);
    }
  }

  &__arrow--right {
    position: absolute;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    svg {
      fill: nth($colors, 2);
    }
  }
  &__arrow--bottom {
    position: absolute;
    top: -100%;
    left: 0;
    width: 100%;
    height: 100%;
    svg {
      fill: nth($colors, 3);
    }
  }

  &__arrow--left {
    position: absolute;
    top: 0;
    left: 100%;
    width: 100%;
    height: 100%;
    svg {
      fill: nth($colors, 4);
    }
  }
  &__content{
    padding: 1rem;
    border-radius: 4px;
    background: rgba(black,.3);
  }
  > * {
    user-select: none;
  }
  &--top {
    background: nth($colors, 1);
    transform: translateY(-200%) translateZ(0);
  }

  &--right {
    background: nth($colors, 2);
    transform: translateX(200%) translateZ(0);
  }

  &--bottom {
    background: nth($colors, 3);
    transform: translateY(200%) translateZ(0);
  }
  &--left {
    background: nth($colors, 4);
    transform: translateX(-200%) translateZ(0);
  }
}

.svg-triangles {
  position: absolute;
  $added-screen-size: 0%;
  top: $added-screen-size/-2;
  left: $added-screen-size/-2;
  width: 100%+$added-screen-size;
  height: 100%+$added-screen-size;

  
  .triangle{
    //fill-opacity: .4;  // IE11 can transition this
    opacity: .4;  
  }

  .top{
  }
  .right{
  }
  .bottom{
  }
  .left{
  }
  
  path {
    outline: none; // Chrome make outline for click events, in case if click event should be added to path elem
    -webkit-tap-highlight-color: rgba(black, 0);
    //cursor: pointer;
    transition: opacity 250ms, fill-opacity 250ms, transform 200ms;
  }

}
